/* Global Styles */
html,
body {
    width: 100%;
    height: 100%;
}

/* Extra Large */
@media only screen and (min-width: 1550px) {
    /* Banner */
    #banner {
        position: fixed;
        top: 0;
        width: 100%;
        height: 50%;
    }

    .intro-img {
        width: 100%;
        height: 70%;
        object-fit: cover;
        transform: rotate(180deg);
    }


    /* Nav */
    #navbar {
        position: absolute;
        top: 35%;
        width: 100%;
        height: 2.5vw;
        margin: 0;
        overflow: hidden;
        background-color: #000;
    }

    #navbar h1 {
        font-size: 1.1vw;
        text-transform: uppercase;
        font-family: "Rubik";
        color: #fff;
    }

    #navbar .name {
        margin-left: .5vw;
        transform: translateY(20%);
    }

    #navbar nav {
        float: right;
        margin-right: .5vw;
        transform: translateY(20%);
    }

    #navbar nav ul li {
        display: inline;
        width: 100%;
        font-family: "Rubik";
        margin-left: .5vw;
        margin-right: .5vw;
    }

    #navbar nav a {
        font-size: 1vw;
        text-transform: uppercase;
        color: #fff;
    }

    #navbar nav a:hover {
        text-decoration: none;
    }

}
