/* Global Styles */
html,
body {
    width: 100%;
    height: 100%;
}

/* Large */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* Nav Bar */
    #nav-bar {
        z-index: 1;
        position: fixed;
        width: 100%;
        top: 0;
        height: 2.25vw;
        background-color: #000;
        border-bottom: #00008c solid .3vw;
    }

    #name {
        z-index: 2;
        position: absolute;
        top: 22.5%;
        margin-left: 1.5vw;
    }

    #name h1 {
        font-family: "Rubik";
        font-size: 1.2vw;
        text-transform: uppercase;
        color: #fff;
    }

    #nav-wrapper {
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    #nav-wrapper .nav {
        position: absolute;
        right: 0;
        margin-top: -.2vw;
        margin-right: 2vw;
    }

    #nav-wrapper .nav ul li {
        display: inline;
    }

    #nav-wrapper .nav a {
        font-size: 1vw;
        font-family: "Rubik";
        text-transform: uppercase;
        margin-left: .75vw;
        margin-right: .75vw;
        color: #fff;
    }

    #nav-wrapper .nav a:hover {
        text-decoration: none;
    }

    #menu-toggle {
        display: none;
    }

    #menu-close {
        display: none;
    }


    /* Body */
    .container {
        position: relative;
        margin-top: 4vw;
        margin-bottom: 2vw;
    }


    /* Footer */
    #footer {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 6.5vw;
        background-color: #00008c;
        text-align: center;
    }

    .copyright p {
        font-family: "Roboto";
        font-size: 1.25vw;
        color: #fff;
        margin-top: -1vw;
    }

    #social-nav {
        list-style: none;
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: .1vw;
    }

    #social-nav li {
        display: inline;
        margin-left: -.4vw;
        margin-right: -.4vw;
    }

    #social-nav li a {
        color: #fff;
        font-size: 1.4vw;
    }

    #social-nav li a:hover{
        text-decoration: none;
    }

}
