/* Global Styles */
html,
body {
    width: 100%;
    height: 100%;
}

/* Extra Large */
@media only screen and (min-width: 1550px) {
    /* Nav Bar */
    #nav-bar {
        z-index: 100;
        position: fixed;
        width: 100%;
        top: 0;
        height: 2.25vw;
        background-color: #000;
        border-bottom: #00008c solid .2vw;
    }

    #name {
        z-index: 2;
        position: absolute;
        top: 25%;
        margin-left: 1.5vw;
    }

    #name h1 {
        font-family: "Rubik";
        font-size: 1.2vw;
        text-transform: uppercase;
        color: #fff;
    }

    #nav-wrapper {
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    #nav-wrapper .nav {
        position: absolute;
        right: 0;
        margin-top: .5vw;
        margin-right: 2vw;
    }

    #nav-wrapper .nav ul li {
        display: inline;
    }

    #nav-wrapper .nav a {
        font-size: 1vw;
        font-family: "Rubik";
        text-transform: uppercase;
        margin-left: .75vw;
        margin-right: .75vw;
        color: #fff;
    }

    #nav-wrapper .nav a:hover {
        text-decoration: none;
    }

    #menu-toggle {
        display: none;
    }

    #menu-close {
        display: none;
    }


    /* Body */
    .container {
        position: relative;
        margin-top: 3.5vw;
        margin-bottom: 1.5vw;
    }

    .container h2 {
        font-family: "Rubik";
        font-size: 1.75vw;
        text-transform: uppercase;
    }

    #profile-photo {
        margin-top: 1vw;
        height: 20vw;
        overflow: hidden;
    }

    #profile-photo img {
        margin-top: -8vw;
        width: 100%
    }

    #profile-desc p {
        font-family: "Roboto";
        font-size: 1vw;
        text-align: center;
        padding-left: 1vw;
        padding-right: 1vw;
        margin-top: 1vw;
    }

    #polaroid {
        background: #f2f2f2;
        padding: 2vw 1vw 1vw 1vw;
        box-shadow: .1vw .4vw .4vw rgba(0,0,0,.3);
        margin-left: 1vw;
    }

    #polaroid img {
        display: block;
        width: 36vw;
    }

    #polaroid p {
        font-family: "Shadows Into Light";
        font-size: 1.5vw;
        text-align: center;
        margin-top: 1vw;
        margin-bottom: 0
    }

    #polaroid-desc {
        z-index: 1;
        position: absolute;
        background-color: #cccc00;
        width: 23vw;
        height: 8vw;
        margin-top: 8vw;
        margin-left: 36.5vw;
    }

    #polaroid-desc h3 {
        font-family: "Rubik";
        font-size: 2vw;
        text-transform: uppercase;
        margin-top: 1vw;
        margin-left: 1vw;
        color: #fff;
    }

    #polaroid-desc p {
        font-family: "Roboto";
        font-size: 1vw;
        margin-left: 1vw;
        margin-right: 1vw;
        text-align: justify;
        color: #fff;
    }


    /* Footer */
    #footer {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 5vw;
        background-color: #00008c;
        text-align: center;
    }

    .copyright p {
        font-family: "Roboto";
        font-size: .85vw;
        color: #fff;
    }

    #social-nav {
        list-style: none;
        position: relative;
        display: flex;
        justify-content: center;
    }

    #social-nav li {
        display: inline;
    }

    #social-nav li a {
        color: #fff;
        font-size: 1.2vw;
    }

    #social-nav li a:hover{
        text-decoration: none;
    }

}
