/* Global Styles */
html,
body {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 767px) {
/* Mobile */
    /* Header (Portfolio) */
    #portfolio {
        z-index: 1000;
        position: fixed;
        width: 100%;
        top: 0px;
        height: 215px;
        overflow-x: auto;
        overflow-y: hidden;
        background-color: rgba(8,8,8,0.9);
    }

    .portfolio {
        font-family: "Abril Fatface", fantasy;
        color: #fff;
    }

    .portfolio-caption {
        font-size: 20px;
        position: relative;
        margin-top: 4px;
    }

    .profile-caption {
        font-family: "Roboto", serif;
        font-size: 14px;
        color: #fff;
        position: relative;
        margin-top: 6px;
    }

    .fa {
        color: #fff;
    }

    .frame-round {
        border: 2px solid #fff;
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        height: 100px;
        overflow: hidden;
    }

    .frame-round img {
        margin-top: -120px;
        margin-left: -160px;
    }

    .social-nav {
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
        margin-top: 6px;
        margin-bottom: 8px;
    }

    .social-nav li {
        display: inline;
        font-family: serif;
        margin: 0 1px;
        text-decoration: none;
    }

    .social-nav li a {
        color: #00ffff;
        margin-right: 3px;
        text-decoration: none;
    }

    .social-nav li a:hover {
        font-weight: bold;
    }

    .twitter-feed {
        display: hidden;
    }

    .copyright {
        display: hidden;
    }


    /* Navigation */
    #sidebar-wrapper {
        z-index: 1000;
        position: fixed;
        top: 215px;
        width: 100%;
        height: 2em;
        margin: 0 auto;
        overflow-y: auto;
        background-color: rgba(2,2,2,0.7);
    }

    .sidebar-nav {
        position: absolute;
        top: 3px;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        list-style: none;
        text-align: center;
    }

    .sidebar-nav li {
        display: inline;
        margin: 0 15px;
        line-height: 30px;
        font-family: 'Heebo', serif;
        font-size: 14px;
        text-align: center;
    }

    .sidebar-nav li a {
        text-decoration: none;
        color: #fff;
    }

    .sidebar-nav li a:hover {
        text-decoration: none;
        color: #fff;
        background: rgba(255,255,255,0.2);
    }

    .sidebar-nav li a:active,
    .sidebar-nav li a:focus{
        text-decoration: none;
    }

    .sidebar-nav > .sidebar-brand {
        height: 55px;
        font-size: 24px;
        line-height: 55px;
    }

    .sidebar-nav > .sidebar-brand a {
        color: #999;
    }

    .sidebar-nav > .sidebar-brand a:hover{
        color: #fff;
        background: none;
    }

    #menu-toggle {
        display: none;
    }

    .toggle {
        display: none;
    }


    /* Content */
    .content {
        position: relative;
        width: 100%;
        height: 100%;
        top: 246px;
        overflow-y: auto;;
        background-color: #afafaf;
    }

    .box {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        position: relative;
        top: 25px;
        margin-left: 5%;
        text-align: justify;
        width: 90%;
    }

    .box img {
        width: 140%;
    }

    .col-sm-3 {
        width: 20%;
        margin-top: .5em;
    }

    .col-sm-6 {
        width: 80%;
        margin-top: .5em;
    }


    /* Contact form */
    .row-input {
        width: 70%;
        padding-top: 5px;
        line-height: 2em;
    }

    .row-input input, textarea, button{
        float: right;
        width: 100%;
        font-size: 14px;
    }


    /* Footer */
    .copyright {
        position: fixed;
        bottom: 0;
        background-color: #000;
        font-family: "Roboto", serif;
        font-size: 12px;
        color: #fff;
        text-align: center;
        width: 100%;
        height: 1.5em;
    }
}


@media only screen and (min-width: 768px) {
/* Desktop */
    /* Header (Portfolio) */
    #portfolio {
        position: fixed;
        left: 0;
        width: 375px;
        height: 100%;
        overflow-y: auto;
        background-color: rgba(8,8,8,0.9);
    }

    .portfolio {
        font-family: "Abril Fatface", fantasy;
        position: relative;
        margin-bottom: 4px;
        color: #fff
    }

    .portfolio-caption {
        font-size: 40px;
        position: relative;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .profile-caption {
        font-family: serif;
        font-size: 16px;
        color: #fff;
        position: relative;
        margin-top: 16px;
    }

    .fa {
        color: #fff;
    }

    .frame-round {
        border: 2px solid #fff;
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        height: 150px;
        overflow: hidden;
    }

    .frame-round img {
        margin-top: -120px;
        margin-left: -160px;
    }

    .social-nav {
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
        margin-top: 16px;
    }

    .social-nav li {
        display: inline;
        font-family: serif;
        margin: 0 1px;
        text-decoration: none;
    }

    .social-nav li a {
        color: #00ffff;
        margin-right: 3px;
        text-decoration: none;
    }

    .social-nav li a:hover {
        font-weight: bold;
    }

    .twitter-feed {
        position: relative;
        margin-top: 40px;
    }


    /* Content */
    .content {
        position: relative;
        margin-left: 375px;
        height: 100%;
        overflow-y: auto;
        background-color: #afafaf;
    }

    .box {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        text-align: justify;
        position: relative;
        top: 25px;
        margin-left: 25px;
        width: 80%;
    }

    .box img {
        width: 70%;
    }

    .col-sm-3 img {
        width: 80%;
    }


    /* Contact form */
    .row-input {
        width: 70%;
        padding-top: 20px;
        line-height: 2em;
    }

    .row-input input, textarea, button{
        float: right;
        width: 100%;
        font-size: 16px;
    }


    /* Navigation */
    #sidebar-wrapper {
        z-index: 1000;
        position: fixed;
        right: 0;
        width: 250px;
        height: 100%;
        margin-right: -250px;
        overflow-y: auto;
        background-color: rgba(2,2,2,0.7);
        -webkit-transition: all 0.4s ease 0s;
        -moz-transition: all 0.4s ease 0s;
        -ms-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
    }

    .sidebar-nav {
        position: absolute;
        top: 0;
        width: 250px;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .sidebar-nav li {
        text-indent: 20px;
        line-height: 60px;
        font-family: "Heebo", serif;
        font-size: 24px;
        text-align: left;
    }

    .sidebar-nav li a {
        display: block;
        text-decoration: none;
        color: #fff;
    }

    .sidebar-nav li a:hover {
        text-decoration: none;
        color: #fff;
        background: rgba(255,255,255,0.2);
    }

    .sidebar-nav li a:active,
    .sidebar-nav li a:focus{
        text-decoration: none;
    }

    .sidebar-nav > .sidebar-brand {
        height: 55px;
        font-size: 24px;
        line-height: 55px;
    }

    .sidebar-nav > .sidebar-brand a {
        color: #999;
    }

    .sidebar-nav > .sidebar-brand a:hover{
        color: #fff;
        background: none;
    }

    #menu-toggle {
        z-index: 1;
        position: fixed;
        top: 0;
        right: 0;
    }

    #sidebar-wrapper.active {
        right: 250px;
        width: 250px;
        -webkit-transition: all 0.4s ease 0s;
        -moz-transition: all 0.4s ease 0s;
        -ms-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
    }

    .toggle {
        margin: 5px 5px 0 0;
    }


    /* Footer */
    .copyright {
        position: fixed;
        bottom: 0;
        margin-bottom: -2px;
        font-family: "Roboto", serif;
        font-size: 12px;
        color: #fff;
        text-align: center;
        width: 375px;
    }
}
