.card {
    background-color: var(--bg-dark);
    color: var(--font);
    font-size: var(--font-size);
    font-family: var(--font-family);
    margin-bottom: 20px;
}

.link {
    color: var(--font-secondary);
}

.link:hover {
    color: var(--link-hover);
}

@media (max-width: 600px) {
    .card {
        font-size: 18px;
    }
}