/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@500&family=Roboto&display=swap');

:root {
  /* Container */
  --container-padding: 0 8rem;
  --container-padding-mobile: 0 4rem;

  /* Global colors */
  --bg-dark: rgb(30, 30, 30);
  --font: rgb(225, 225, 225, 1);
  --font-secondary: rgba(170, 170, 170, 1);
  --link-hover: rgba(130, 130, 130, 1);

  /* Font settings */
  --font-size: 20px;
  --font-size-mobile: 14px;
  --font-family: 'Roboto';
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* Navbar */
.navbar-brand {
  padding: 0 16px;
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 30px !important;
}

.navbar-toggler {
  border-color: rgba(0, 0, 0, 0) !important;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0 !important; 
}

.nav-item {
  padding: 10px 20px;
}

a.nav-link {
  text-transform: uppercase;
  text-align: center;
  color: var(--font-secondary);
  font-size: 2vh;
}

a.nav-link:hover {
  color: var(--link-hover);
}

/* General */ 

h2 {
  text-transform: uppercase;
  margin-bottom: 2vw !important;
}

p a {
  color: var(--font-secondary);
  text-decoration: underline;
  text-underline-offset: .4vw;
}

p a:hover {
  color: var(--link-hover);
}

* {
  box-sizing: border-box;
}
