ul.pubList {
    list-style-type: none;
}

li.pubItems {
    margin-top: 16px;
    margin-bottom: 16px;
}

h3.pubHeadings {
    font-weight: bold;
}

a.pubLinks {
    color: var(--font-secondary);
}

a.pubLinks:hover{
    color: var(--link-hover);
}