.socialHome {
    font-size: 30px;
    margin: 12px 12px 0 12px;
    color: var(--font-secondary);
}

.socialIcon {
    font-size: 20px;
    margin: 6px 12px 0 12px;
    color: var(--font-secondary);
}

.socialIcon:hover {
    color: var(--link-hover);
}

.socialRow {
    margin-top: 8px;
    margin-bottom: 8px;
}

.fixWidth {
    width: 100%;
}